/* Stili per il bg dinamico */
.transition-bg {
  transition:
    background-image 1s ease-in-out,
    background-color 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@keyframes default-pulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
  }
}
.emoji-pulse {
  display: inline-block;
  transition: transform 0.3s ease;
}

.weather-card:hover .emoji-pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bg-default {
  /* Overlay scuro + Immagine */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("https://img.freepik.com/foto-premium/cielo-e-nuvole-ambiente-natura-sfondo-meteo-e-concetto-di-meteorologia_360074-11143.jpg");

  animation: default-pulse 15s ease-in-out infinite;
}

/* Sunny */
@keyframes sunny-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-sunny {
  background-image:
    linear-gradient(135deg, rgba(255, 165, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("https://static.vecteezy.com/ti/foto-gratuito/p2/1925378-cielo-sereno-in-estate-gratuito-foto.jpg");

  background-size: 150% 150%;
  animation: sunny-pan 20s ease-in-out infinite;
}

/* Cloudy */
@keyframes cloudy-drift {
  0% {
    background-position: center 100%;
  }
  100% {
    background-position: center 0%;
  }
}
.bg-cloudy {
  /* Overlay grigio scuro + Immagine */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://img.freepik.com/foto-premium/cielo-grigio-prima-della-pioggia-sfondo-nuvoloso-grigio_69110-107.jpg");

  background-size: cover;
  animation: cloudy-drift 30s linear infinite;
}

/* Rainy */
@keyframes rainy-overlay {
  0%,
  100% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  91% {
    opacity: 1;
  }
}
.bg-rainy {
  /* Overlay blu scuro */
  background-image:
    linear-gradient(rgba(15, 32, 39, 0.6), rgba(44, 83, 100, 0.8)),
    url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?q=80&w=2000");

  animation: rainy-overlay 3s ease-out infinite;
}

/* Mist, Fog & Haze */
@keyframes mist-fade {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
.bg-mist {
  /* Overlay bianco/grigio per dare l'effetto nebbia */
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(100, 100, 100, 0.6)),
    url("https://www.ansa.it/webimages/img_1129x635/2025/6/9/7837bb4877a3e819caae20d8185d78b7.jpg");
  background-size: cover;
  animation: mist-fade 8s ease-in-out infinite;
}
